



{{ define "head" }}
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/pages/app-page.css"> 
{{end}}

{{ define "main" }}
<div class="app">
    <div class="container">
    
        <div class="android">
            <ion-icon name="logo-android"></ion-icon>
        </div>
        
        <h1> 
            Make browsing up to 50% faster and more private while utilizing your full device screen without the web browser status bar or other elements 
        </h1>
    
        <h2>
            Installation Instructions
        </h2>

        <ol>
            <li>Load Flexnet.ga in the Chrome Web Browser.</li>
            <li>Tap the 3 dots from the top right corner.</li>
            <li>Select "Add to Home screen" from the available options.</li>
            <li>Chrome will open a prompt and you will be able to add FLEXNET app icon to your home screen. Launch the app once to ensure the install completes successfully.</li>
        </ol>

    </div>

</div>
{{end}}

{{ define "scripts" }}
    {{ partial "footer/moviescripts.html" .}}
{{end}}