{{ define "head" }}
    {{ partial "head/moviehead.html" .}}
    <link rel="stylesheet" href="{{.Site.BaseURL}}/style/scss/pages/req-page.css"> 
{{end}}
{{ define "main" }}
<div class="req">
    <div class="container">
        <h1>Movies Request</h1>

        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfUT4ZR3xV7ipf0Nbekv0h-FEPMn_Ka4cjheErarO_-0jS4sA/viewform?embedded=true" width="700" height="520" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>
</div>
{{end}}
{{ define "scripts" }}
    {{ partial "footer/moviescripts.html" .}}
{{end}}
