



{{ define "head" }}
    <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/pages/thank-you.css"> 
{{end}}

{{ define "nav" }}
    <div></div>
{{ end }}

{{ define "main" }}
    <div class="container">
        <div class="content">
            <h1>Thanks For Subscribing In Our Newsletter</h1>
            <p>
                we will send you our latest updates on your email tell
                then wish you a happy watching
            </p>
            <a href="/"> back to home </a>
        </div>
    </div>
{{end}}
    
{{ define "footer" }}
    <div></div>
{{ end }}

{{ define "scripts" }}
{{end}}