@import '../helpers/var';
@import '../helpers/responsive';

.container{
    @include tap{
        width: 90%;
    }
}
.app{
    @include mobile{
        text-align: center;
    }
    .logo{
        width: 20%;
        border-radius: 5px;
        margin-top: 2rem;

        @include tap{
            width: 100%;
        }
    }
    h1,h2{
        color: $pry-color;
    }
    h1{
        margin: auto;
        padding: 2rem 0px;

        @include tap{
            font-size: 1.3rem;
        }
    }
    ol,h2,h1{
        margin: auto;
    }
    h2{
        padding-bottom: 1rem;
    }
    ol{
        margin: 0px auto 2rem auto;
        li{
            list-style: decimal;
            list-style-position: outside;
            list-style-position: inside;
            font-size: 1.2rem;
            color: $main-color;
            padding: 10px 0px;
        }
    }
}