@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:500,600,700&display=swap");
/*responsive*/
* {
  padding: 0;
  margin: 0;
  line-height: 1.5em;
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-family: "Chakra Petch", sans-serif;
  background: #eee;
  color: #233142;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
a {
  color: #fdfdfd;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

/*
    GLOBAL STYLES
*/
.container {
  width: 90% !important;
  margin: auto;
}

.related .movies {
  padding: 0px !important;
}

.main-title {
  color: #233142;
  padding: 0 0 4rem 0px;
  text-transform: capitalize;
}

@media (max-width: 708px) {
  .main-title {
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 2rem 0px;
  }
}

@media (max-width: 550px) {
  .main-title {
    padding: 2rem 0px;
  }
}

.main-title__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  clear: both;
}

@media (max-width: 708px) {
  .main-title__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.main-title__text ion-icon {
  padding-left: 0.5rem;
}

@media (max-width: 365px) {
  .main-title__text ion-icon {
    display: none;
  }
}

.main-title .file-tray-full,
.main-title .star,
.main-title .heart-half,
.main-title .film,
.main-title .more {
  color: #f95959;
  font-size: 1.8rem;
}

.main-title .more {
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.main-title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #f95959;
  font-size: 1.2rem;
  float: right;
  text-decoration: underline;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
}

@media (max-width: 708px) {
  .main-title a {
    float: none;
  }
}

ion-icon {
  color: #fdfdfd;
}

.bmc-button img {
  width: 1.7rem;
  margin-bottom: 1px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: none !important;
  vertical-align: middle !important;
}

.bmc-button {
  line-height: 36px !important;
  display: -webkit-inline-box !important;
  display: -ms-inline-flexbox !important;
  display: inline-flex !important;
  color: #233142;
  background-color: #fdfdfd;
  border-radius: 3px !important;
  padding: 0.5rem 1rem;
  font-size: 1rem !important;
  margin: 1rem auto 0px auto !important;
}

.swiper-wrapper {
  padding: 2rem 0px;
}

.swiper-container {
  margin-bottom: 2rem;
  clear: both;
}

.alltags li {
  width: 85%;
}

@media (max-width: 708px) {
  .alltags li {
    text-align: center;
    width: 100%;
    margin: auto;
  }
}

.alltags li a {
  color: #f95959;
  text-decoration: underline;
  display: block;
  font-weight: 900;
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  display: inline-block;
  margin: .4rem .8rem .4rem 0px;
}

@media (max-width: 708px) {
  .alltags li a {
    text-align: center;
    margin: .2rem .5rem .2rem 0px;
  }
}

.list-title {
  padding: 1rem 0px;
}

.list-page-title {
  padding: 2rem 0px;
  text-transform: capitalize !important;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

@-webkit-keyframes background {
  from {
    background-position: 50% 60%;
  }
  to {
    background-position: 50% 40%;
  }
}

@keyframes background {
  from {
    background-position: 50% 60%;
  }
  to {
    background-position: 50% 40%;
  }
}

.background {
  -webkit-animation-name: background;
          animation-name: background;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s !important;
          animation-duration: 20s !important;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.animated {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes rotat {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotat {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rotat {
  -webkit-animation-name: rotat;
          animation-name: rotat;
  display: inline-block;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

/* navbar code */
nav {
  padding: .3rem 0px;
  background: #f95959;
}

@media (max-width: 708px) {
  nav {
    height: 60px;
    text-align: center;
  }
}

nav ion-icon {
  color: #fdfdfd;
}

nav .logo {
  max-width: 120px;
}

@media (max-width: 708px) {
  nav .logo {
    display: block;
    padding-top: .8rem;
    float: left;
  }
}

nav li {
  display: inline-block;
}

nav li a {
  font-size: 1.7rem;
  font-weight: 600;
}

nav .ham {
  float: right;
  display: none;
  padding: .7rem .7rem 0px 0px;
  cursor: pointer;
  color: #fdfdfd;
}

@media (max-width: 708px) {
  nav .ham {
    display: block;
  }
}

nav .ham ion-icon {
  font-size: 2.5rem;
  color: #fdfdfd;
}

nav .navigation {
  float: right;
}

@media (max-width: 708px) {
  nav .navigation {
    display: none;
    padding: 1rem 0px;
    width: 100%;
    background: #f95959;
    margin: 2rem 0px;
  }
}

nav .navigation li {
  padding: 0rem .7rem;
  padding-top: .5rem;
}

@media (max-width: 708px) {
  nav .navigation li {
    display: block;
    padding: .4rem 0px;
  }
}

nav .navigation li:last-child {
  padding-right: 0px;
}

nav .navigation li a {
  font-size: 1.2rem;
  font-weight: 600;
}

@media (max-width: 550px) {
  nav .navigation li a {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  nav .navigation li a {
    font-size: 1rem;
  }
}

/* end navbar code */
.movies {
  padding-bottom: 3rem;
}

.movies .item {
  width: 180px;
  height: 300px;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-shadow: 0px 0px 15px rgba(43, 43, 43, 0.22);
          box-shadow: 0px 0px 15px rgba(43, 43, 43, 0.22);
  margin: auto;
  -webkit-transition: .7s;
  transition: .7s;
}

.movies .item:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 0px 13px 0px #f95959;
          box-shadow: 0px 0px 13px 0px #f95959;
  -webkit-transition: .5s;
  transition: .5s;
}

.movies .item .poster {
  width: 100%;
  height: 274px;
  border-radius: 4px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-image: url(https://flexnet.ga/images/logo/logo-animation.gif);
  background-position: center;
  background-size: cover;
}

.movies .item .rating {
  font-size: 1.1rem;
}

.movies .item .rating .outof {
  opacity: 0.7;
}

.movies .item .slider-content {
  position: absolute !important;
  width: 180px !important;
}

.movies .item .content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 708px) {
  .movies .item .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.movies .item .content a {
  width: 100%;
}

.movies .item .content .title {
  text-align: center;
  font-size: 1rem;
  opacity: 0.9;
  width: 100%;
  padding: 10px 0px;
  text-transform: capitalize;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 708px) {
  .movies .item .content .title {
    display: block;
    margin-bottom: 2rem;
  }
}

.movies .item .content .movie-hover-info {
  width: 100%;
  background: #f95959;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0.7rem 0px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

@media (max-width: 708px) {
  .movies .item .content .movie-hover-info {
    display: none;
  }
}

.movies .item .content .movie-hover-info .container {
  width: 95%;
}

.movies .item .content .movie-hover-info:hover {
  opacity: 0.9;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.movies .item .content .movie-hover-info .movie-name {
  font-size: 1.2rem;
  line-height: 1.1em;
  padding: 1rem 0px;
}

.movies .item .content .movie-hover-info .movie-name span {
  font-size: 1rem;
}

.movies .item .content .movie-hover-info .rating,
.movies .item .content .movie-hover-info .duration {
  padding: 0px 0px 0.5rem 0px;
}

.movies .movie-Rating {
  color: #fdfdfd;
  background: #f95959;
  width: 180px;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* movies page code */
.movie-list li {
  display: inline-block;
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 14.70588%;
}

.movie-list li:last-child {
  margin: 0px;
}

@media (max-width: 1100px) {
  .movie-list li {
    width: 17.24138%;
  }
}

@media (max-width: 708px) {
  .movie-list li {
    width: 25%;
  }
}

@media (max-width: 550px) {
  .movie-list li {
    width: 33.33333%;
  }
}

@media (max-width: 480px) {
  .movie-list li {
    width: 43.47826%;
  }
}

@media (max-width: 708px) {
  .movie-list {
    text-align: center;
  }
}

/* end movies page code */
.movies .home-list .item {
  width: 100%;
  height: 230px;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 1rem 0px;
}

.movies .home-list .item .play {
  font-size: 2.5rem;
  opacity: .8;
  padding-bottom: 1rem;
}

@media (max-width: 365px) {
  .movies .home-list .item .play {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .movies .home-list .item .content a,
  .movies .home-list .item .item {
    height: 350px;
  }
}

.movies .home-list .item .poster {
  border-radius: 5px;
  background-position: top !important;
}

.movies .home-list .item .content {
  height: auto;
}

.movies .home-list .item .content a {
  width: 100%;
  height: 230px;
  background: #3b475691;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movies .home-list .item .title {
  display: block;
  font-size: 0.8rem;
  color: #f95959;
  padding: 0.2rem;
}

.movies .home-list .item .movie-Rating {
  width: 160px;
  display: none;
}

.more-info {
  padding: 4rem 0px;
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 480px) {
  .more-info {
    padding: 3rem 0px;
  }
}

.more-info .movie-cover {
  width: 40%;
  float: left;
}

@media (max-width: 1100px) {
  .more-info .movie-cover {
    width: 70%;
    margin: auto;
    float: none;
    padding-bottom: 4rem;
    text-align: center;
  }
}

@media (max-width: 708px) {
  .more-info .movie-cover {
    width: 100%;
  }
}

.more-info .movie-cover img {
  float: right;
  margin-right: 3rem;
  width: 237px;
  height: 376px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 15px rgba(43, 43, 43, 0.22);
          box-shadow: 0px 0px 15px rgba(43, 43, 43, 0.22);
}

@media (max-width: 1100px) {
  .more-info .movie-cover img {
    float: none;
    margin: 0px;
  }
}

.more-info .movie-info {
  width: 60%;
  height: 300px;
  float: right;
}

@media (max-width: 1100px) {
  .more-info .movie-info {
    float: none;
    width: 100%;
    text-align: center;
    clear: both;
    height: 100%;
  }
}

.more-info .movie-info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 708px) {
  .more-info .movie-info .container {
    width: 95%;
  }
}

.more-info .movie-info .content h1,
.more-info .movie-info .content h1 a,
.more-info .movie-info .duration,
.more-info .movie-info .story p,
.more-info .movie-info .rating {
  color: #233142;
}

.more-info .movie-info .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
}

.more-info .movie-info .content h1 {
  font-weight: 800;
  font-size: 2rem;
}

@media (max-width: 550px) {
  .more-info .movie-info .content h1 {
    font-size: 1.7rem;
  }
}

.more-info .movie-info .content .duration {
  font-size: 1.2rem;
  padding: 0.5rem 0px;
}

.more-info .movie-info .content .rating {
  font-size: 1.2rem;
}

.more-info .movie-info .content .rating .rating-num {
  font-size: 0.9rem;
  opacity: 0.8;
}

@media (max-width: 1100px) {
  .more-info .movie-info .content .tags span {
    display: block;
  }
}

.more-info .movie-info .content .tags {
  padding: 0.5rem 0px;
  font-size: 1.1rem;
}

.more-info .movie-info .content .tags a {
  color: #fdfdfd;
  text-transform: capitalize;
  font-size: 1rem;
  background: #f95959;
  padding: 0.2rem 0.7rem;
  text-decoration: underline;
  border-radius: 4px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}

.more-info .movie-info .content .tags a:hover {
  opacity: 0.9;
  padding: 0.2rem 0.9rem;
}

.more-info .movie-info .content .stars {
  font-size: 1.1rem;
}

@media (max-width: 1100px) {
  .more-info .movie-info .content .stars__headline {
    display: block;
  }
}

@media (max-width: 550px) {
  .more-info .movie-info .content .stars {
    padding-top: 1rem;
  }
}

.more-info .movie-info .content .stars span:nth-last-of-type(2) {
  display: none;
}

.more-info .movie-info .content .stars a {
  text-decoration: underline;
  -webkit-text-decoration-color: #f95959;
          text-decoration-color: #f95959;
  color: #f95959;
}

.more-info .movie-info .content .stars a span {
  color: #233142;
}

.more-info .movie-info .content .stars a:nth-child(4) span {
  display: none;
}

.more-info .movie-info .content .story p {
  font-size: 1rem;
  padding: 0.7rem 0px;
}

@media (max-width: 1100px) {
  .more-info .movie-info .content .story p {
    width: 70%;
    margin: auto;
  }
}

@media (max-width: 708px) {
  .more-info .movie-info .content .story p {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .more-info .movie-info .content .story p {
    width: 100%;
  }
}

.more-info .movie-info .content .imdb {
  background: #dab637;
  padding: 0.2rem 1rem;
  color: #fdfdfd;
  font-weight: 900;
  font-size: .9rem;
  border-radius: 4px;
}

.more-info .movie-info .content .duration,
.more-info .movie-info .content .rating,
.more-info .movie-info .content .tags,
.more-info .movie-info .content .tags a,
.more-info .movie-info .content .stars,
.more-info .movie-info .content .stars a {
  font-weight: 600;
}

@media (max-width: 550px) {
  .more-info .movie-info .content .duration,
  .more-info .movie-info .content .rating,
  .more-info .movie-info .content .tags,
  .more-info .movie-info .content .tags a,
  .more-info .movie-info .content .stars,
  .more-info .movie-info .content .stars a {
    font-size: 1rem;
  }
}

/* main movie code */
.movie {
  text-align: center;
  clear: both;
  padding-bottom: 2rem;
}

@media (max-width: 480px) {
  .movie {
    padding: 0rem;
  }
}

.movie .container {
  width: 95%;
}

.movie .container p {
  color: #f95959;
  font-weight: 600;
  margin-bottom: 0.5rem;
  padding: 0.5rem 0px;
}

.movie .container .servers {
  width: 100% !important;
}

.movie .container .servers ul {
  margin-bottom: 1.5rem;
}

.movie .container .servers ul .active {
  background: #f95959 !important;
  color: #fdfdfd !important;
}

.movie .container .servers ul li {
  cursor: pointer;
  display: inline-block;
  border: 2.5px solid #f95959;
  padding: 0.1rem 1rem;
  color: #f95959;
  margin-right: 0.4rem;
  border-radius: 5px;
  font-weight: 800;
}

@media (max-width: 550px) {
  .movie .container .servers ul li {
    display: block;
    margin: .5rem 0px;
  }
}

@media (max-width: 708px) {
  .movie .container .servers ul li {
    padding: 0.1rem 0.4rem;
  }
}

.movie .container .servers ul li:last-of-type {
  margin: 0px;
}

.movie iframe {
  width: 100%;
  -webkit-box-shadow: 0px 0px 15px rgba(43, 43, 43, 0.22);
          box-shadow: 0px 0px 15px rgba(43, 43, 43, 0.22);
  border-radius: 5px;
  height: 80vh;
}

@media (max-width: 1100px) {
  .movie iframe {
    width: 100%;
  }
}

.movie-header {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: auto;
}

@media (max-width: 800px) {
  .movie-header {
    height: auto;
  }
}

.movie-header .overlay {
  background-color: #f95959c4;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0px;
}

.movie-header .overlay .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 800px) {
  .movie-header .overlay .content {
    display: block;
  }
}

.movie-header .overlay .trailer {
  width: 45%;
  float: left;
}

@media (max-width: 800px) {
  .movie-header .overlay .trailer {
    width: 100%;
    float: none;
    text-align: center;
  }
}

.movie-header .overlay .trailer iframe {
  border-radius: 5px;
  border: 5px solid white;
  width: 100%;
  height: 300px;
}

@media (max-width: 800px) {
  .movie-header .overlay .trailer iframe {
    width: 80%;
    margin: 2rem auto 0px auto;
  }
}

@media (max-width: 1100px) {
  .movie-header .overlay .trailer iframe {
    height: 250px;
  }
}

@media (max-width: 550px) {
  .movie-header .overlay .trailer iframe {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .movie-header .overlay .trailer iframe {
    height: 200px;
  }
}

.movie-header .overlay .info {
  width: 50%;
  float: right;
  margin: 0px 0px 0px 3rem;
}

@media (max-width: 800px) {
  .movie-header .overlay .info {
    float: none;
    width: 100%;
    text-align: center;
    margin-left: 0px;
  }
}

.movie-header .overlay .info__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media (max-width: 1100px) {
  .movie-header .overlay .info__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}

.movie-header .overlay .info__duration, .movie-header .overlay .info__rating {
  font-weight: 600;
  font-size: 1.4rem;
}

@media (max-width: 550px) {
  .movie-header .overlay .info__duration, .movie-header .overlay .info__rating {
    font-size: 1rem;
    font-weight: 800;
  }
}

.movie-header .overlay .info .btns {
  margin-top: 1rem;
}

@media (max-width: 1100px) {
  .movie-header .overlay .info .btns {
    margin-top: 1rem;
  }
}

.movie-header .overlay .info .btns a {
  background: #fdfdfd;
  color: #f95959;
  padding: 0.5rem 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  margin-right: 1rem;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: capitalize;
}

.movie-header .overlay .info .btns a:nth-child(2) {
  background: #233142;
  color: #fdfdfd;
}

@media (max-width: 800px) {
  .movie-header .overlay .info .btns a:nth-child(2) {
    margin-bottom: 0px;
  }
}

.movie-header .overlay .info .btns a:nth-child(1) {
  padding: .5rem 2rem;
}

@media (max-width: 1100px) {
  .movie-header .overlay .info .btns a {
    padding: 0.3rem 2.5rem !important;
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .movie-header .overlay .info .btns a {
    float: none;
    width: 30%;
    margin: 0px auto 0.5rem auto;
  }
}

@media (max-width: 550px) {
  .movie-header .overlay .info .btns a {
    width: 50%;
  }
}

.movie-header .overlay .info .btns a ion-icon {
  color: #f95959;
  font-size: 1.3rem;
  margin-left: 0.5rem;
}

.movie-header .overlay .info__story {
  padding-top: 2rem;
}

@media (max-width: 1100px) {
  .movie-header .overlay .info__story {
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .movie-header .overlay .info__story {
    padding: 2rem 0px;
  }
}

/* footer code */
footer {
  background: #f95959;
  width: 100%;
  padding: 2rem 0px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2rem;
}

footer .whoami h1 {
  font-size: 3rem;
}

footer .whoami h1 img {
  width: 170px;
}

footer .whoami h2 {
  font-size: 1rem;
  font-weight: 100;
  opacity: .7;
  width: 60%;
  margin: auto;
  color: #fdfdfd !important;
}

@media (max-width: 708px) {
  footer .whoami h2 {
    width: 100%;
  }
}

footer p {
  padding-top: 3rem;
  text-transform: capitalize;
  font-weight: 800;
}

/* end footer code */
.movie-header .overlay {
  padding: 5rem 0px !important;
}
