

//Var
@import "../helpers/var";
//RESPONSIVE
@import "../helpers/responsive";
//RESET
@import "../helpers/reset";
//Global
@import "../helpers/global";
//animation
@import "../helpers/animation";

//main style
//Nav
@import "../layout/nav";
//Footer
@import "../layout/footer";


.req{
    text-align: center;

    h1{
        color: $main-color;
        padding: 1rem 0px;
    }
    iframe{
        padding-bottom: 1rem;
        width: 700px;

        @include tap{
            width: 100%;
        }
    }
}