<meta charset="utf-8">

{{ if .Params.imdbid }}
<!-- the  head code for the single pages -->
<!----SEO---->
<title>watch {{.Title}} ({{.Params.year}}) movie - Flexnet </title>

<meta name="description" content="Flexnet watch {{.Title}} ({{.Params.year}}) movie | {{.Params.story}}">
<!--OG-->
<meta property="og:title" content="watch {{.Title}} ({{.Params.year}}) movie - Flexnet" />

<meta property="og:description" content="Flexnet watch {{.Title}} ({{.Params.year}}) movie | {{.Params.story}}" />

<meta property="og:image" content="{{.Params.moviecover}}" />

{{else}}
<!-- The head code for list pages  -->
<!----SEO---->
<title>Flexnet - watch free cinema movies online. flexnet free new movies online</title>
<meta name="description" content="Flexnet - Free online new movies. watch free flexnet cinema movies online watch and download movies">
<!--OG-->
<meta property="og:title" content="Flexnet - watch free cinema movies online. flexnet free new movies online" />
<meta property="og:description" content="Flexnet - Free online new movies. watch free flexnet cinema movies online watch and download movies" />
{{end}}
<meta name="keywords" content="flexnet movies,movies flex.net,flexnet free movies,flexnet movie,movie flex.net,films,watch movies,flexnet,flexnet.ga,موقع افلام عربية حديثة اون لاين ,موقع افلام بدون تحميل,مواقع افلام مترجمة اون لاين,افضل مواقع افلام الاكشن,احسن موقع افلام,افضل مواقع لمشاهدة الافلام اون لاين افضل,موقع للأفلام,احدث مواقع الافلام,new movies,flexnet,movies to watch,movies to watch with friends,free movies cinema,free movies cinema cinema movies stream,watch free cinema movies streaming
">
<!--global data for all the site pages-->
<meta property="og:type" content="website" />
<meta property="og:site_name" content="FlexNet">
<meta name="application-name" content="FlexNet">
<meta property="og:image" content="{{.Site.BaseURL}}images/favicon/favicon.png" />
<link rel="shortcut icon" type="image/png" href="{{.Site.BaseURL}}images/favicon/favicon.png">
<!----Responsive---->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!----Mobile Theme Color ---->
<!-- Chrome, FireFox OS Opera -->
<meta name="theme-color" content="#f95959">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#f95959">
<!-- Safari/Ios -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<!--manifest-->
<link rel="manifest" href="{{.Site.BaseURL}}manifest.json">
<!-- adding swiper from cdn -->
<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
<!-- adding google-site-verification -->
<meta name="google-site-verification" content="9MmS6V6YaKuaxUL2Cbxrf1UgIPJ50TbM8_gidwrrLMg" />
<!-- adding icons from ion-icon -->
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

<!-- remove this comment -->

