<meta charset="utf-8">
            <!----SEO---->
            <title>{{.Title}} Flexnet Watch Cinema movies and top movies in 2019</title>
            <meta name="keywords" marvel movies in order,top movies 2018,regal cinema movies,movie theaters nearby,list of 2016 films,list of 2018 films,list of 2017 films,watch movies,Flexnet,Flexnet.ga >
            <meta name="description" content="FlexNet- Watch {{.Title}} Flexnet.ga is a Free website for streaming movies you can watch online movies for free watch now">
            <!--OG-->
            <meta property="og:type" content="website"/>
            <meta property="og:site_name" content="FlexNet">
            <meta name="application-name" content="FlexNet">
            <meta property="og:title" content=" Flexnet.ga Watch FREE Movies Online مشاهدة فيلم {{.Title}}{{.Params.year}} مترجم" />
            <meta property="og:description" content="تحميل و تنزيل مباشر فيلم {{.Title}}{{.Params.year}}  Watch movies online free. Watch series online.مترجم" />
            <meta property="og:image" content="{{.Site.BaseURL}}imges/favicon/favicon.png" />
            <link rel="shortcut icon" type="image/png" href="{{.Site.BaseURL}}imges/favicon/favicon.png">

        <!----Adding Style---->
        <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/pages/listpage.css">
        <!----Responsive---->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!----Mobile Theme Color ---->
        <!-- Chrome, FireFox OS Opera -->
        <meta name="theme-color" content="#B24296">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#B24296">
        <!-- Safari/Ios -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!--manifest-->
        <link rel="manifest" href="/manifest.json">

