<meta charset="utf-8">
            <!----SEO---->
            <title> Flexnet.ga Watch FREE Movies Online مشاهدة فيلم {{.Title}} {{.Params.year}} مترجم</title>
            <meta name="description" content="FlexNet- Watch {{.Title}} Movies and TV Shows Online ">
            <link rel="shortcut icon" type="image/png" href="{{.Site.BaseURL}}imges/favicon/favicon.png">
             <!--OG-->
             <meta property="og:type" content="website"/>
             <meta property="og:site_name" content="FlexNet">
             <meta name="application-name" content="FlexNet">
             <meta property="og:title" content=" Flexnet.ga Watch FREE Movies Online مشاهدة فيلم {{.Title}} {{.Params.year}} مترجم" />
             <meta property="og:description" content="تحميل و تنزيل مباشر فيلم {{.Title}} {{.Params.year}}  Watch movies online free. Watch series online.مترجم" />
             <meta property="og:image" content="{{.Params.moviecover}}" />
        <link rel="stylesheet" href="{{.Site.BaseURL}}/style/scss/pages/moviepage.css">                                        
        <!----Responsive---->
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!----Mobile Theme Color ---->
        <!-- Chrome, FireFox OS Opera -->
        <meta name="theme-color" content="#212121">
        <!-- Windows Phone -->
        <meta name="msapplication-navbutton-color" content="#212121">
        <!-- Safari/Ios -->
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <!--manifest-->
        <link rel="manifest" href="/manifest.json">
