//Fonts import
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:500,600,700&display=swap');
//font-family: 'Chakra Petch', sans-serif;



//font var
$mainfont: 'Chakra Petch', sans-serif;

//Website Colors Var

$black-color: #233142;
$white-color: #fdfdfd;
$main-color: #f95959;
$pry-color: #652755;
$light-main: rgb(184, 96, 162);
