//ads shanges
.movies{
    padding-bottom: 0px !important;
}
.ads{
    text-align: center;
    padding: 2rem 0px;
    //display: none;

    iframe{
        box-shadow: 2px 2px 25px #b2429694;
    }
    .bigad{
        display: block;

        @include largtap{
            display: none;
        }
        @include largtap{
            display: none;
        }
    }
    .midad{
        display: none;

        @include largtap{
            display: block;
        }

        @include mobile{
            display: none;
        }
    }
    .smallad{
        display: none;

        @include mobile{
            display: block;
            width: 100%;
        }
        iframe{
            box-shadow: none;
        }
    }
}