.forms{
    margin: 2rem 0px 4rem 0px;

    ul{
        li{
            display: inline-block;
            width: 47%;
            &:first-child{
                margin-right: 1.5rem;
            }
            @include largtap{
                width: 100%;
                &:first-child{
                    margin-right: 0rem;
                }
            }
            .container{
                @include largtap{
                    width: 100% !important;
                }
            }
            iframe{
                float: left;
                width: 100%;
                height: 250px;
            }
        }
    }
    .main-title{
        padding-bottom: 3rem !important;
        @include tap{
            padding: 3rem 0px 1rem 0px !important;
        }
    }
}

