/* main movie code */
.movie{
    text-align: center;
    clear: both;
    padding-bottom: 2rem; 

    @include small-mobile{
        padding: 0rem;
    }

    .container{
        width: 95%;

        h2{
            color: $black-color;
            padding: 2rem 0px 0rem 0px;

            @include mobile{
                font-size: 1rem;
            }
        }
        p{
            color: $main-color;
            font-weight: 600;
            margin-bottom: .5rem;
            padding: .5rem 0px;
        }
    }

    iframe{
        width: 100%;
        box-shadow: 0px 0px 15px rgba(43, 43, 43, 0.22);
        border-radius: 5px;
        height: 400px;

        @include laptop{
            width: 100%;
        }
    }
}