//search
.search{
    display: block;
    background: $white-color;
    border-radius: 500px;
    width: 40%;
    margin-left: 10rem;
    margin: 0rem auto 3rem auto;
    box-shadow: 2px 2px 20px #b2429680;

    @include small-laptop{
        width: 90%;
    }
    @include tap{
        margin: 2rem auto 0px auto;
    }
    @include mobile{
        box-shadow: none;
    }

    input,
    button{
        font-size: 1rem;
    }
    input{
        width: 60%;
        border: none;
        border-radius: 500px;
        font-weight: 800;
        color: $main-color;
        padding: .5rem 1rem;
        font-family: $mainfont;
        text-transform: capitalize;

        @include mobile{
            width: 60%;
            background: $white-color;
        }

    }
    
    button{
        float: right;
        border: none;
        padding: .5rem 1rem;
        height: 100%;
        background: $main-color;
        border-radius: 500px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile{
            font-size: .9rem;
        }

        ion-icon{
            font-size: 1.6rem;
        }

    }
}