.keywords{
    margin-top: 2.5rem;
    width: max-content;
    padding: 0px 0px 1rem 0px;
    
    li{
        display: inline-block;
        margin-right: .6rem;

        a{
            color: $white-color;
            background-color: $main-color;
            padding: .3rem 1rem;
            text-transform: capitalize;
            font-size: 1.1rem;
            font-weight: 900;
            border-radius: 5px;
            
            &:last-of-type{
                margin-right: 0px;
            }
        }
    }
}
