<!DOCTYPE html>
<html lang="en">

<!--HEAD-->
<head>
    <!--head code-->
    {{ partial "head/head.html" .}}
    <!-- adding custome code -->
    {{ block "head" . }}
        <!----Adding Style---->
        <link rel="stylesheet" href="{{.Site.BaseURL}}style/scss/pages/homepage.css">
    {{end}}
</head>

<body>
    <!--NAV-->
    {{partial "header/nav.html" .}}

    {{ block "main" . }}
    {{end}}


    <!--Site footer code-->
    {{ partial "footer/footer.html" .}}
    
    {{ block "scripts" . }}
    {{end}}
    <!--Site scripts-->
    {{ partial "footer/scripts.html" .}}
    
</body>

</html>
