
{{ define "head" }}
{{end}}

{{ define "main" }}
<!--header-->
{{ partial "header/header.html" .}}
<!--search-->
{{ partial "header/search.html" . }}

<main class="animated fadeIn">
    <!--start slider movies code for the movies at the top -->
    <section id="movies" class="movies">


        {{ partial "main-title.html" (dict "Text" "FlexNet Latest Movies" "Icon" "film" "Route" "movies" ) }}


        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ with .Site.GetPage "/movies" }}
                {{ range first 20 .Pages.ByPublishDate.Reverse }}
                {{ partial "list.html" . }}
                {{end}}
                {{end}}
            </div>
        </div>

        <!--start slider for top rated movies -->
        {{ partial "main-title.html" (dict "Text" "FlexNet Top Rated Movies" "Icon" "star" "Route" "movies" ) }}

        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ with .Site.GetPage "/movies" }}
                {{ range first 20 (.Pages.ByParam "rating").Reverse }}
                <!--adding the movies slider-->
                {{ partial "list.html" . }}
                {{end}}
                {{end}}
            </div>
        </div>

    </section>

    <!--/end slider movies code for the movies at the top -->

    <!-- start main movies code for the movies at the end -->
<!-- 
    <section id="movies" class="movies" style="padding: 0 !important;">
        {{ partial "main-title.html" (dict "Text" "FlexNet Latest Movies" "Icon" "film" "Route" "movies" ) }}

        <ul class="movie-list home-list">
            <div class="container">
                {{ with .Site.GetPage "/movies" }}
                {{ range .Pages | first 18 }}
                {{ partial "movies-list.html" . }}
                {{end}}
                {{end}}
            </div>
        </ul>
    </section> -->

    <section class="forms">
        <ul class="container">
            <li>
                {{ partial "main-title.html" (dict "Text" "Request your favorite movie"  "Icon" "heart-half" ) }}
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfUT4ZR3xV7ipf0Nbekv0h-FEPMn_Ka4cjheErarO_-0jS4sA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </li>
            <li>
                {{ partial "main-title.html" (dict "Text" "Tell us how we could improve"  "Icon" "heart-half" ) }}
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScyEJBKhXApqD8k30cTfxGYxpSh4yfCBhnoh0mKYuk3M0_MEw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </li>
        </ul>
    </section>

    <section>
        <!--/end main movies code for the movies at the end -->
        {{ partial "main-title.html" (dict "Text" "FlexNet Movies Categories"  "Icon" "file-tray-full" ) }}
        {{ partial "categories.html" . }}
    </section>
</main>

{{end}}

{{ define "scripts" }}
{{end}}