{{ define "head" }}
{{end}}

{{ define "main" }}
<!--header-->
{{ partial "header/header.html" .}}
<!--search-->
{{ partial "header/search.html" . }}

<main class="animated fadeIn">
    <!--start slider movies code for the movies at the top -->
    <section id="movies" class="movies">


        {{ partial "main-title.html" (dict "Text" "FlexNet Latest Movies" "Icon" "film" "Route" "movies" ) }}


        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ with .Site.GetPage "/movies" }}
                {{ range first 7 .Pages.ByPublishDate.Reverse }}
                {{ partial "list.html" . }}
                {{end}}
                {{end}}
            </div>
        </div>

        <!--start slider for top rated movies -->
        {{ partial "main-title.html" (dict "Text" "FlexNet Top Rated Movies" "Icon" "star" "Route" "movies" ) }}

        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ with .Site.GetPage "/movies" }}
                {{ range first 7 (.Pages.ByParam "rating").Reverse }}
                <!--adding the movies slider-->
                {{ partial "list.html" . }}
                {{end}}
                {{end}}
            </div>
        </div>

    </section>

    <!--/end slider movies code for the movies at the top -->

    <!-- start main movies code for the movies at the end -->

    <section id="movies" class="movies" style="padding: 0 !important;">

        {{ partial "main-title.html" (dict "Text" "FlexNet Latest Movies" "Icon" "film" "Route" "movies" ) }}

        <ul class="movie-list home-list">
            <div class="container">
                {{ with .Site.GetPage "/movies" }}
                {{ range .Pages | first 18 }}
                {{ partial "movies-list.html" . }}
                {{end}}
                {{end}}
            </div>
        </ul>

    </section>
    <!--/end main movies code for the movies at the end -->
    {{ partial "main-title.html" (dict "Text" "FlexNet Movies Categories"  "Icon" "file-tray-full" ) }}

    {{ partial "categories.html" . }}

    <!-- <section class="container" id="tags">
        <ul class="alltags">
            <li>
                {{ with .Site.GetPage "/tags" }}
                    {{ range .Pages | shuffle }}
                        <a href="{{.Site.BaseURL}}tags/action/">Action</a>
                    {{end}}
                {{end}}
            </li>
        </ul>
    </section> -->

</main>

{{end}}

{{ define "scripts" }}
{{end}}