{{ define "head" }}
{{end}}

{{ define "main" }}
<!--header-->
{{ partial "header/header.html" .}}
<!--search-->
{{ partial "header/search.html" . }}

<main class="animated fadeIn">
    <!--start slider movies code for the movies at the top -->
    <section id="movies" class="movies">


        {{ partial "main-title.html" (dict "Text" "FlexNet Latest Movies" "Icon" "film" "Route" "movies" ) }}


        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ with .Site.GetPage "/movies" }}
                {{ range first 10 .Pages.ByPublishDate.Reverse }}
                {{ partial "list.html" . }}
                {{end}}
                {{end}}
            </div>
        </div>

        <!--start slider for top rated movies -->
        {{ partial "main-title.html" (dict "Text" "FlexNet Top Rated Movies" "Icon" "star" "Route" "movies" ) }}

        <div class="swiper-container">
            <div class="swiper-wrapper">
                {{ with .Site.GetPage "/movies" }}
                {{ range first 20 (.Pages.ByParam "rating").Reverse }}
                <!--adding the movies slider-->
                {{ partial "list.html" . }}
                {{end}}
                {{end}}
            </div>
        </div>

    </section>

    <!--/end slider movies code for the movies at the top -->

    <!-- start main movies code for the movies at the end -->

    <section id="movies" class="movies">

        {{ partial "main-title.html" (dict "Text" "FlexNet Latest Movies" "Icon" "film" "Route" "movies" ) }}

        <ul class="movie-list home-list">
            <div class="container">
                {{ with .Site.GetPage "/movies" }}
                {{ range .Pages | first 30 }}
                {{ partial "movies-list.html" . }}
                {{end}}
                {{end}}
            </div>
        </ul>

    </section>
    <!--/end main movies code for the movies at the end -->
    <section class="container">

        <h2 class="main-title">FlexNet Movies Categories <ion-icon name="file-tray-full" class="film"></ion-icon></a>
        </h2>


        <ul class="alltags">

            <li>
                <a href="{{.Site.BaseURL}}tags/action/">Action</a>
                <a href="{{.Site.BaseURL}}tags/drama/">Drama</a>
                <a href="{{.Site.BaseURL}}tags/adventure/">Adventure</a>
                <a href="{{.Site.BaseURL}}tags/comedy/">Comedy</a>
                <a href="{{.Site.BaseURL}}tags/animation/">Animation</a>
                <a href="{{.Site.BaseURL}}tags/sci-fi/">Sci-Fi</a>
            </li>

            <li>
                <a href="{{.Site.BaseURL}}tags/crime/">Crime</a>
                <a href="{{.Site.BaseURL}}tags/fantasy/">Fantasy</a>
                <a href="{{.Site.BaseURL}}tags/thriller/">Thriller</a>
                <a href="{{.Site.BaseURL}}tags/family/">Family</a>
                <a href="{{.Site.BaseURL}}tags/romance/">Romance</a>
                <a href="{{.Site.BaseURL}}tags/mystery/">Mystery</a>
            </li>

            <li>
                <a href="{{.Site.BaseURL}}tags/sport/">Sport</a>
                <a href="{{.Site.BaseURL}}tags/horror/">Horror</a>
                <a href="{{.Site.BaseURL}}tags/war/">War</a>
                <a href="{{.Site.BaseURL}}tags/history/">History</a>
                <a href="{{.Site.BaseURL}}tags/reality-tv/">Reality-TV</a>
                <a href="{{.Site.BaseURL}}tags/western/">Western</a>
            </li>

            <li style="padding: 0px;">
                <a href="{{.Site.BaseURL}}tags/game-show/">Game-Show</a>
                <a href="{{.Site.BaseURL}}tags/documentary/">Documentary</a>
                <a href="{{.Site.BaseURL}}tags/music/">Music</a>
                <a href="{{.Site.BaseURL}}tags/biography/">Biography</a>
            </li>

        </ul>


    </section>
</main>

{{end}}

{{ define "scripts" }}
{{end}}