{{ define "head" }}
{{ partial "head/listhead.html" .}}
{{end}}

{{ define "main" }}

<main>
    <section id="movies" class="movies">

        <div class="container">
            {{ if .Content}}
            {{.Content}}
            {{else}}
            <h2 class="main-title list-page-title">{{.Title}} MOVIES 🎟
            </h2>
            {{end}}
        </div>

        <ul class="movie-list home-list animated fadeIn">

            <div class="container">
                {{ range .Paginator.Pages }}
                {{ partial "movies-list.html" . }}
                {{end}}
            </div>

        </ul>

    </section>

</main>
{{ partial "pagination.html" . }}

{{end}}

{{ define "scripts" }}

{{end}}