{{ define "head" }}
{{ partial "head/listhead.html" .}}
{{end}}

{{ define "main" }}

<main>
    <section id="movies" class="movies">

        {{ if not (in (.Permalink  | string) "movies")  }}
            <div class="container">
                <h2 class="main-title list-page-title">
                    <span class="main-title__text">
                        {{ .Title }} Movies
                        <ion-icon name="film" class="film"></ion-icon>
                    </span>
                </h2>
            </div>
        {{end}}
        {{ if (in (.Permalink  | string) "movies")  }}
            <div class="container">
                <h2 class="main-title list-page-title">
                    <span class="main-title__text">
                        Latest Movies
                        <ion-icon name="film" class="film"></ion-icon>
                    </span>
                </h2>
            </div>
        {{end}}
        

        <ul class="movie-list home-list animated fadeIn">

            <div class="container">
                {{ range .Paginator.Pages }}
                {{ partial "movies-list.html" . }}
                {{end}}
            </div>

        </ul>

    </section>

</main>
{{ partial "pagination.html" . }}

{{end}}

{{ define "scripts" }}

{{end}}