{{ define "head" }}
<link rel="stylesheet" href="{{.Site.BaseURL}}/style/scss/pages/moviepage.css">
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
{{end}}

{{ define "main" }}
<!-- <div class="container">
        {{ partial "movie/report.html" .}}
    </div> -->

<main class="animated fadeIn">
    <div style="clear: both;"></div>
    <section>
        {{ partial "movie/header.html" (dict "bg" .Params.moviebg "trailer" .Params.trailer "title" .Params.title "duration" .Params.duration "rating" .Params.rating "link1" "#movie-player" "link2" "#more-info"  "year" .Params.year "story" .Params.story ) }}
    </section>




    <section class="more-info" id="more-info"> 

        <div class="container">

            <div class="movie-cover">
                <img class="img" data-src="{{.Params.moviecover}}">
            </div>

            <div class="movie-info">
                <div class="content">
                    <h1>
                        {{.Title}}
                        (<a href="{{.Site.BaseURL}}years/{{.Params.year}}">{{.Params.year}}</a>)
                    </h1>

                    <div class="duration">
                        <span>{{.Params.duration}}</span>
                    </div>

                    <div class="rating">
                        <span>{{.Params.rating}}</span><span class="rating-num">/10</span>
                    </div>

                    <div class="tags">
                        {{ range .Params.tags}}
                        <a href="/tags/{{. | urlize}}/" title="{{.}} Movies">{{.}}</a>
                        {{end}}
                    </div>

                    <div class="stars">
                        <span class="stars__headline">Stars: </span>
                        {{ range .Params.stars}}
                        <a title="{{.}} Movies">{{.}}<span>, </span></a>
                        {{end}}
                    </div>

                    <div class="story">
                        <p>
                            {{.Params.story}}
                        </p>
                        <a href="https://www.imdb.com/title/{{.Params.imdbId}}" title="IMDB" class="imdb"
                            target="_blank">IMDB</a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <div style="clear: both;"></div>

    <!-- this is the code for sharing the movie url -->
    <!-- {{ partial "sharing.html" . }} -->

    <!-- this is movie player -->
    <section class="movie">
        <div class="container">
            <p>
                if the movie didn't work try to change servers or come back later
                <br>
                إذا لم يعمل الفيلم ، فحاول تغيير الخوادم أو عد لاحقًا
            </p>


            {{ if .Params.server1 }}
                <div x-data="{ server: 1 }">
                {{ else if .Params.server2 }}
                <div x-data="{ server: 2 }">
                {{else}}
                <div x-data="{ server: 1 }">
            {{end}}

            {{if ( in (.Params.groups | string) "tv-show" )}}
                <div class="servers">
                    <ul>
                        {{ if .Params.server1 }}
                        <li :class="{ 'active': server == 1  }" @click="server = 1">Season 1</li>
                        {{else}}
                        <li :class="{ 'active': server == 1  }" @click="server = 1">Season 1</li>
                        {{end}}
                        {{ if .Params.server2 }}
                        <li :class="{ 'active': server == 2  }" @click="server = 2">Season 2</li>
                        {{end}}
                        {{ if .Params.server3 }}
                        <li :class="{ 'active': server == 3  }" @click="server = 3">Season 3</li>
                        {{end}}
                        {{ if .Params.server4 }}
                        <li :class="{ 'active': server == 4  }" @click="server = 4">Season 4</li>
                        {{end}}
                        {{ if .Params.server5 }}
                        <li :class="{ 'active': server == 5  }" @click="server = 5">Season 5</li>
                        {{end}}
                    </ul>
                </div>
            {{else}}
                <div class="servers">
                    <ul>
                        {{ if .Params.server1 }}
                        <li :class="{ 'active': server == 1  }" @click="server = 1">Server 1</li>
                        {{else}}
                        <li :class="{ 'active': server == 1  }" @click="server = 1">Server 1</li>
                        {{end}}
                        {{ if .Params.server2 }}
                        <li :class="{ 'active': server == 2  }" @click="server = 2">Server 2</li>
                        {{end}}
                        {{ if .Params.server3 }}
                        <li :class="{ 'active': server == 3  }" @click="server = 3">Server 3</li>
                        {{end}}
                        {{ if .Params.server4 }}
                        <li :class="{ 'active': server == 4  }" @click="server = 4">Server 4</li>
                        {{end}}
                        {{ if .Params.server5 }}
                        <li :class="{ 'active': server == 5  }" @click="server = 5">Server 5</li>
                        {{end}}
                    </ul>
                </div>
            {{end}}
                <!--site i freams-->
                <div id="movie-player">
                    {{ if .Params.server1 }}
                        {{ partial "movie/ifram-code.html" (dict "src" .Params.server1 "Server" "server == 1"  ) }}
                        {{else}}
                        <iframe class=" animated fadeIn" x-show="server == 1 " width="560" height="500"
                        src="https://1movietv.com/playstream/{{ .Params.imdbid }}" frameborder=”0″ scrolling=”no”
                        allowfullscreen=”allowfullscreen”
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    {{end}}

                    {{ if .Params.server2 }}
                        {{ partial "movie/ifram-code.html" (dict "src" .Params.server2 "Server" "server == 2"  ) }}
                        {{end}}
                        
                    {{ if .Params.server3 }}
                        {{ partial "movie/ifram-code.html" (dict "src" .Params.server3 "Server" "server == 3"  ) }}
                    {{end}}

                    {{ if .Params.server4 }}
                        {{ partial "movie/ifram-code.html" (dict "src" .Params.server4 "Server" "server == 4"  ) }}
                    {{end}}

                    {{ if .Params.server5 }}
                        {{ partial "movie/ifram-code.html" (dict "src" .Params.server5 "Server" "server == 5"  ) }}
                    {{end}}

                </div>
            </div>

        </div>
    </section>
    
    <section>
        <div class="sharethis-inline-reaction-buttons"></div>
    </section>

    <!-- this is movies like what you watch now -->
    {{ partial "movie/related.html" . }}
</main>
{{end}}

{{ define "scripts" }}
{{ partial "footer/moviescripts.html" . }}
{{end}}