




{{ define "head" }}
        <link rel="stylesheet" href="{{.Site.BaseURL}}/style/scss/pages/moviepage.css">                                        
{{end}}

{{ define "main" }}
    <!-- <div class="container">
        {{ partial "movie/report.html" .}}
    </div> -->

    <main class="animated fadeIn">

        <section class="info">

            <div class="container">

                <div class="trailer">
                    {{ partial "youtubeplayer.html" . }}
                </div>

                <div class="movie-info">
                    <div class="content">
                        <h1>
                            {{.Title}}
                            (<a href="{{.Site.BaseURL}}years/{{.Params.year}}">{{.Params.year}}</a>)
                        </h1>

                        <div class="duration">
                            <span>{{.Params.duration}}</span>
                        </div>

                        <div class="rating">
                            <span>{{.Params.rating}}</span><span class="rating-num">/10</span>
                        </div>

                        <div class="tags">
                            {{ range .Params.tags}}
                            <a href="/tags/{{. | urlize}}/">{{.}}</a>
                            {{end}}
                        </div>

                        <div class="stars">
                            <span class="stars__headline">Stars: </span>
                            {{ range .Params.stars}}
                            <a href="/stars/{{. | urlize}}/">{{.}}<span>, </span></a>
                            {{end}}
                        </div>

                        <div class="story">
                            <p>
                                {{.Params.story}}
                            </p>
                            <a href="https://www.imdb.com/title/{{.Params.imdbId}}" title="IMDB" class="imdb"
                                target="_blank">IMDB</a>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- this is the code for sharing the movie url -->
        {{ partial "sharing.html" . }}
        <!-- this is movie player -->
        <section class="movie">
            <div class="container">
                <h2> The Movie </h2>
                <p>
                    if the movie didn't work try to change servers or come back later
                    <br>
                    إذا لم يعمل الفيلم ، فحاول تغيير الخوادم أو عد لاحقًا
                </p>
                <div>
                    <iframe width="560" height="500" src="https://1movietv.com/playstream/{{ .Params.imdbid }}"
                        frameborder=”0″ scrolling=”no” allowfullscreen=”allowfullscreen”
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </section>


        <!-- this is movies like what you watch now -->
            {{ partial "movie/related.html" . }}
    </main>
{{end}}

{{ define "scripts" }}
    {{ partial "footer/moviescripts.html" . }}
{{end}}