<footer>

    <div class="container">

        <div class="whoami">
            <h1><a href="{{.Site.BaseURL}}">FlexNet</a></h1>
            <h2>Disclaimer: FlexNet does not store any files on its server. All contents are provided by non-affiliated
                third parties. watch free cinema movies online streaming flexnet.ga free new movies </h2>
            <style>
            </style>
            <style></style><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/yuvNMQfC7"><img
                    src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/BMC-btn-logo.svg"
                    alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span></a>


        </div>

        <!-- <ul class="alltags">

            <li>
                <a href="{{.Site.BaseURL}}tags/action/">Action</a>
                <a href="{{.Site.BaseURL}}tags/drama/">Drama</a>
                <a href="{{.Site.BaseURL}}tags/adventure/">Adventure</a>
                <a href="{{.Site.BaseURL}}tags/comedy/">Comedy</a>
                <a href="{{.Site.BaseURL}}tags/animation/">Animation</a>
                <a href="{{.Site.BaseURL}}tags/sci-fi/">Sci-Fi</a>
            </li>

            <li>
                <a href="{{.Site.BaseURL}}tags/crime/">Crime</a>
                <a href="{{.Site.BaseURL}}tags/fantasy/">Fantasy</a>
                <a href="{{.Site.BaseURL}}tags/thriller/">Thriller</a>
                <a href="{{.Site.BaseURL}}tags/family/">Family</a>
                <a href="{{.Site.BaseURL}}tags/romance/">Romance</a>
                <a href="{{.Site.BaseURL}}tags/mystery/">Mystery</a>
            </li>

            <li>
                <a href="{{.Site.BaseURL}}tags/sport/">Sport</a>
                <a href="{{.Site.BaseURL}}tags/horror/">Horror</a>
                <a href="{{.Site.BaseURL}}tags/war/">War</a>
                <a href="{{.Site.BaseURL}}tags/history/">History</a>
                <a href="{{.Site.BaseURL}}tags/reality-tv/">Reality-TV</a>
                <a href="{{.Site.BaseURL}}tags/western/">Western</a>
            </li>

            <li style="padding: 0px;">
                <a href="{{.Site.BaseURL}}tags/game-show/">Game-Show</a>
                <a href="{{.Site.BaseURL}}tags/documentary/">Documentary</a>
                <a href="{{.Site.BaseURL}}tags/music/">Music</a>
                <a href="{{.Site.BaseURL}}tags/biography/">Biography</a>
                <a href="https://flexnet.ga/sitemap.xml">Sitemap</a>
            </li>

        </ul> -->
    </div>
</footer>