<footer>

    <div class="container">

        <div class="whoami">
            <h1><a href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}images/logo/flexnet.png" alt="flexnet"></a></h1>
            <h2>Disclaimer: FlexNet does not store any files on its server. All contents are provided by non-affiliated
                third parties. watch free cinema movies online streaming flexnet.ga free new movies </h2>
            <style>
            </style>
            <style></style><a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/yuvNMQfC7"><img
                    src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/BMC-btn-logo.svg"
                    alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span></a>


        </div>
    </div>
</footer>