<!---- jquery Code ---->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
       

<script>
    //feedback link for report
    const userfeedback = document.getElementById("userfeedback");
    document.getElementById("userfeedback").value= "somthing is wrong in {{.URL}} movie name is {{.Params.Title}}";

    //copy btn
    const url = document.URL;
    document.getElementById("share").value= url;
    const btncopy = document.getElementById("copy-btn");

    function copy(){
        const input = document.getElementById("share");
        input.select();
        document.execCommand("Copy");
    }

</script>

<!-- main js -->
<script src="{{.Site.BaseURL}}js/main.js"></script>

