<!-- Swiper -->

        <div class="swiper-slide">
            <div class="item">

                <img class="poster img" data-src="{{.Params.moviecover}}" alt="{{.Title}} movie - Flexnet" />

                    <div class="content slider-content">

                        <a href="{{.URL}}" title="{{.Title}} ({{.Params.year}}) Movie">

                            <h3 class="title"> {{.Title}} </h3>

                            <div class="movie-hover-info">

                                <div class="container">

                                    <h2 class="movie-name">
                                        {{.Title}}

                                        <span class="year">
                                            ({{.Params.year}})
                                        </span>
                                    </h2>

                                    <div class="rating">
                                        {{.Params.rating}}<span>/10</span>
                                    </div>

                                    <div class="duration">
                                        {{.Params.duration}}
                                    </div>


                                    <div class="tags">
                                        {{ range .Params.tags}}
                                        <span href="">{{.}}</span>
                                        {{end}}
                                    </div>

                                </div>

                            </div>


                        </a>

                    </div>

                <div class="movie-Rating">
                    <div class="rating">
                        <div class="rotat"><ion-icon name="star"></ion-icon></div> {{.Params.rating}}<span class="outof">/10</span>
                    </div>
                </div>

            </div>
        </div>
