/* footer code */
footer{
    background: $main-color;
    width: 100%;
    padding: 2rem 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .whoami{
        h1{
            font-size: 3rem;
            img{
                width: 170px;
            }
        }
        h2{
            font-size: 1rem;
            font-weight: 100;
            opacity: .7;
            width: 60%;
            margin: auto;
            color: $white-color !important;

            @include tap{
                width: 100%;
            }
        }
    }

    p{
        padding-top: 3rem;
        text-transform: capitalize;
        font-weight: 800;
    }
}
/* end footer code */