/* header code */

header {
  width: 100%;
  margin-bottom: 3rem;

  @include tap {
    height: 100vh;
  }
  @include small-laptop {
    height: 100%;
    margin-bottom: 1rem;
  }

  .content {
    padding: 2rem 0px 1rem 0px;
  }

  .main-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    padding: 0px 0px 1rem 0px;

    @include lg-laptop {
      font-size: 1.5rem;
    }
    @include largtap {
      text-align: center;
    }
  }

  .live-stream {
    display: block;

    ul {
      li {
        width: (97%/2);
        display: inline-block;
        text-align: left;
        margin-right: 1rem;
        &:last-of-type {
          margin-right: 0;
        }

        @include largtap {
          width: 100%;
          margin: 0;

          &:last-of-type {
            display: none;
          }
        }

        .btn {
          padding-top: 1rem;

          @include largtap {
            text-align: center;
          }

          a {
            background: $main-color;
            color: $white-color;
            font-weight: 900;
            padding: 0.4rem 1.5rem;
            font-size: 1rem;
            border-radius: 5px;
            transition: 0.5s;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            max-width: 160px;

            @include laptop {
              padding: 0.4rem 1.5rem;
              max-width: 83%;
              margin: auto;
            }

            &:hover {
              padding: 0.4rem 1.7rem;
              transition: 0.5s;

              @include laptop {
                padding: 0.4rem 1.5rem;
              }
            }
            ion-icon {
              font-size: 1.5rem;
              margin-left: 0.6rem;
            }
          }
        }
      }
    }

    .player {
      height: 290px;
      width: 100%;
      border-radius: 10px;
      box-shadow: 0px 0px 15px rgba(43, 43, 43, 0.22);

      @include largtap {
        height: 300px;
      }

      &__overlay {
        background-color: #23314280;
        width: 100%;
        height: 100%;
        border-radius: 10px;

        @include largtap {
          height: 300px;
        }

        .container {
          display: flex;
          justify-content: flex-end;
          flex-direction: column;
          height: 100%;

          .play-btn {
            text-align: center;
            padding-bottom: 1rem;
            ion-icon {
              font-size: 3.5rem;
            }
          }

          .info {
            h1 {
              font-size: 1.8rem;
              font-weight: 500;
              text-transform: capitalize;
              margin-bottom: 0.7rem;
            }

            .more-info {
              padding-bottom: 2.5rem;

              ul {
                .star {
                  color: #ffc93c;
                  ion-icon {
                    color: #ffc93c;
                  }
                }
                li {
                  display: inline-block;
                  color: $white-color;
                  width: auto;
                  display: flex;
                  align-items: center;
                  flex-direction: row;
                  float: left;

                  ion-icon {
                    font-size: 1.3rem;
                    margin-right: 0.5rem;
                  }
                  span {
                    font-weight: 700;
                  }

                  @include largtap{
                    margin-right: 1rem;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}
/* end header code */
