/* navbar code */
nav{
    padding: .3rem 0px;
    background: $main-color;
    @include tap{
        height: 60px;
        text-align: center;
    }
    ion-icon{
        color: $white-color;
    }
    .logo{
        max-width: 120px;
        @include tap{
            display: block;
            padding-top: .8rem;
            float: left;
        }
    }

    li{
        display: inline-block;
        a{
            font-size: 1.7rem;
            font-weight: 600;
        }
    }
    
    .ham{
        float: right;
        display: none;
        padding:  .7rem .7rem 0px 0px;
        cursor: pointer;
        color: $white-color;
        @include tap{
            display: block;
        }

        ion-icon{
            font-size: 2.5rem;
            color: $white-color;
        }
    }
    .navigation{
        float: right;

        @include tap{
            display: none;
            padding: 1rem 0px;
            width: 100%;
            background: $main-color;
            margin: 2rem 0px;
        }

        li{
            padding: 0rem .7rem;
            padding-top: .5rem;

            @include tap{
                display: block;
                padding: .4rem 0px;
            }

            &:last-child{
                padding-right: 0px;
            }
            a{
                font-size: 1.2rem;
                font-weight: 600;

                @include mobile{
                    font-size: 1.2rem;
                }
                @include small-mobile{
                    font-size: 1rem;
                }
            }
        }
    }
}
/* end navbar code */