/*
    GLOBAL STYLES
*/

.container {
    width: 90% !important;
    margin: auto;
}

.related {
    .movies {
        padding: 0px !important;
    }
}

.main-title {
    color: $black-color;
    padding: 0 0 1rem 0px;
    text-transform: capitalize;

    .star,
    .film,
    .more {
        color: $main-color;
        font-size: 1.8rem;
    }
    .more {
        font-size: 1.4rem;
        padding-left: .5rem;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $main-color;
        font-size: 1.2rem;
        float: right;
        text-decoration: underline;
        text-decoration-style: double;

        @include tap {
            float: none;
            display: block;
        }
    }

    @include tap {
        text-align: center;
        padding: 2rem 0px;
    }

    @include mobile {
        padding: 4rem 0px;
    }
}
//the default of all icons color
ion-icon {
    color: $white-color;
}

// the buy me a coffe link styles
.bmc-button img {
    width: 1.7rem;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
}

.bmc-button {
    line-height: 36px !important;
    display: inline-flex !important;
    color: $black-color;
    background-color: $white-color;
    border-radius: 3px !important;
    padding: 0.5rem 1rem;
    font-size: 1rem !important;
    margin: 1rem auto 0px auto !important;
}
.swiper-container {
    margin-bottom: 2rem;
}
