//Website Reset And Fix
* {
    padding: 0;
    margin: 0;
    line-height: 1.5em;
}
html,
body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: $mainfont;
    background: #eee;
    color: $black-color;
}
ul,
li {
    list-style: none;
}
//Adding colors
h1,
h2,
h3,
h4,
p,
a {
    color: $white-color;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}

// some global styling

ion-icon{
    color: $white-color;
}

// the buy me a coffe link styles
.bmc-button img {
    width: 1.7rem;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
}

.bmc-button {
    line-height: 36px !important;
    display: inline-flex !important;
    color: $black-color;
    background-color: $white-color;
    border-radius: 3px !important;
    padding: .5rem 1rem;
    font-size: 1rem !important;
    margin: 1rem auto 0px auto !important;
}
