

/*responsive*/

$lg-screens:  1400px;
$lg-laptop:  1250px;
$laptop:  1100px;
$small-laptop: 800px;
$largtap: 760px;
$tap:  708px;
$mobile:  550px;
$small-mobile:  480px;

@mixin lg-screens{
    @media (max-width: #{$lg-screens}) {
        @content;
    }
}
@mixin lg-laptop {
    @media (max-width: #{$lg-laptop}) {
        @content;
    }
}
@mixin laptop {
    @media (max-width: #{$laptop}) {
        @content;
    }
}
@mixin small-laptop {
    @media (max-width: #{$small-laptop}) {
        @content;
    }
}
@mixin largtap {
    @media (max-width: #{$largtap}) {
        @content;
    }
}
@mixin tap {
    @media (max-width: #{$tap}) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: #{$mobile}) {
        @content;
    }
}
@mixin small-mobile {
    @media (max-width: #{$small-mobile}) {
        @content;
    }
}