<header>
  <div class="container">

    <div class="content">
      <div class="live-stream">
        <h1 class="main-title">FlexNet New Movies</h1>


        <ul>
          {{ with .Site.GetPage "/movies" }}
          {{ range .Pages | first 2 | shuffle }}
          <li>
            <iframe src="{{ .Params.trailer }}" frameborder="0"
              allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>

            <div class="btn">
              <a href="{{.URL}}" title="Watch {{.Title}} ({{.Params.year}}) Movie Now">Watch It Now <ion-icon name="videocam"></ion-icon></a>
            </div>
          </li>
          {{end}}
          {{end}}
        </ul>



      </div>
    </div>

  </div>
</header>