<nav>
    <ul>
        <div class="container">

            <li class="logo"><a href="{{.Site.BaseURL}}"><img src="{{.Site.BaseURL}}images/logo/flexnet.png
                " alt="FlexNet"></a></li>

            <div class="ham" id="minu">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <div class="navigation" id="navigation">
                <li><a href="{{.Site.BaseURL}}movies">Movies</a></li>
                <!-- <li><a href="{{.Site.BaseURL}}langs/arabic/">Arabic Movies</a></li> -->
                <li><a href="{{.Site.BaseURL}}#tags">Categories</a></li>
                <li><a href="{{.Site.BaseURL}}app">App</a></li>
                <li><a href="{{.Site.BaseURL}}requst/">Request</a></li>
            </div>


        </div>
    </ul>
</nav>